/*Para estandarizar los valores en los distintos navegadores*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  color: #fff;
}

section {
  display: flex;
  align-items: center;
  scroll-snap-align: start;
  justify-content: center;
  min-height: 100vh;
  scroll-snap-align: start;

  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/assets/steve-johnson-WVUrbhWtRNM-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

th {
  border: 1px solid black;
  padding: 0.5rem;
  border-collapse: collapse;
}

thead {
  background-color: lightseagreen;
}

h2 {
  text-align: center;
  margin: 1rem;
}

table {
  width: 60vw;
}

li {
  display: inline;
  background-color: lightskyblue;
  padding-right: 1rem;
  padding-left: 1rem;
  min-width: 20vw;
}

ul {
  text-align: center;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

tbody {
  background-color: lightslategrey;
}

.content {
  height: 100vh;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

.welcome {
  /*Flex properties*/
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  flex-direction: column;
  color: aliceblue;
  font-size: 2.5rem;
  height: 100vh;
}

.welcome .title, .welcome p{
  padding: 10vh 10vw;
}

.welcome p{
  padding: 30vh ;
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
}

.history {
  flex-direction: column;
}


