/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "Raleway", sans-serif;
  color: #fff;
  letter-spacing: 1px;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONETNS */
/* ----------------------------------------------- */

h2 {
  text-align: center;
  margin: 1rem;
  color: #1d5a81;
  font-size: 2.3rem;
  letter-spacing: 2px;
}

h1:after, h2:after {
  display: block;
  height: 2px;
  background-color:#1d5a81;
  content: " ";
  width: 30%;
  margin: 0 auto;
  margin-top: 30px;
}

.btn {
  background-color: #1d5a81;
  border-radius: 200px;
  border: 1px solid  #1d5a81;
  color: #fff;
  padding: 1% 2%;
  text-decoration: none;

  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn:hover {
  background-color: #0d2a3c;
  border: 1px solid #0d2a3c;
}

.btn-historic {
  padding: 1% 2%;
}

.btn-full {
  margin-right: 10%;
  padding: 5% 5%;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

header {
  display: flex;
  align-items: center;
  scroll-snap-align: start;
  justify-content: center;
  height: 100vh;
  scroll-snap-align: start;

  background-image: linear-gradient(rgba(4, 13, 18, 0.85),rgba(4, 13, 18, 0.85)),
    url(/assets/steve-johnson-WVUrbhWtRNM-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* ----------------------------------------------- */
/* TABLE */
/* ----------------------------------------------- */

table {
  margin-top: 3%;
  width: 75vw;
}

th {
  border: 1px solid black;
  padding: 0.5rem;
  border-collapse: collapse;
}

thead {
  background-color: #2980b9;
}


tbody {
  background-color: #1d5a81;
}

/* ----------------------------------------------- */
/* INDEX */
/* ----------------------------------------------- */

.welcome {
  font-size: 2.3rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
}


.title{
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title h3 {
  padding-bottom: 10%;
  padding-top: 5%;
}

.today {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  padding-bottom: 5%;
  height: 100vh;
}

/* ----------------------------------------------- */
/* RECORD // OLD */
/* ----------------------------------------------- */


.history {
  align-items: center;
  display: flex;
  flex-direction: column;

  padding-top: 5%;
  justify-content: center;
}

.history ul {
  padding-bottom: 3%;
}

.btn-container {
  display: flex;
}

/* ----------------------------------------------- */
/* MEDIA */
/* ----------------------------------------------- */

@media (max-width: 768px) {

  .welcome {
    justify-content: center;
    font-size: 1.5rem;
    padding: 1% 2%;
  }

}

