/*Para estandarizar los valores en los distintos navegadores*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Raleway", sans-serif;
  margin: 0;
}

.content{
  scroll-snap-type: y mandatory;
  overflow: scroll;
  height: 100vh;
}

section {
  display: flex;
  align-items: center;

  scroll-snap-align: start;
  justify-content: center;
  min-height: 100vh;
}

.welcome {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/assets/steve-johnson-WVUrbhWtRNM-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;

  color: aliceblue;
  font-size: 4em;
}

/*En esta sección describiremos la pagina web y lo que nos muestra*/
.descrip {
  background-color: aqua;
}

/*En esta sección pondremos los datos del dia de hoy*/
.today {
  background-color: red;
}
