/*Para estandarizar los valores en los distintos navegadores*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  font-family: "Raleway", sans-serif;
  color: #fff;
}

.content{
  height: 100vh;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

section {
  min-height: 100vh;
  scroll-snap-align: start;
}

.welcome {
  /*Flex properties*/
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/assets/steve-johnson-WVUrbhWtRNM-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-size: 4em;
  height: 100vh;
}

/*En esta sección describiremos la pagina web y lo que nos muestra*/
.description {
   /*Flex properties*/
  display: flex;
  justify-content: space-between;

  width: 60%;
  height: 40%;
  font-size: 0.6em;
}

/*En esta sección pondremos los datos del dia de hoy*/
.today {
   /*Flex properties*/
   

  background-color: red;
}
